@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: local('Lobster'),
    url('../static/fonts/Lobster-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'CreteRound';
  font-weight: 400;
  font-style: normal;
  src: local('CreteRound'),
    url('../static/fonts/CreteRound-Regular.ttf') format('woff2');
}
