.homeImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.homeVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.homeLogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-line;
  text-align: center;
  .title {
    font-family: 'Lobster' !important;
    font-size: 6rem;
  }
  .edition {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2.5rem !important;
  }
  .info {
    font-family: 'CreteRound', sans-serif;
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
