@import './home';
@import './header';

@import './shared/fonts';

html,
body {
  overflow: hidden;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Helvetica';
}
